

 main {
    max-height: 80vh;
    overflow-y: scroll;
 }

#friends-display-link {
    text-align: center;
    display: block;
    background-color:#fafafa;
    padding: 20px 0px;
    font-size: 15px;
    margin-top: -15px;
}



#friends-display-link i{
    color: rgba(0,0,0,0.2);
}

.friends-screen__channel {
    margin-top: 25px;
    border-top: var(--main-border);
    padding-top: 15px;
}


.friends-list__txt {
    display: block;
    font-size: 18px;
    margin: 20px 10px;

}

.friends-list{
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.friends-list__music span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 30px;
    border: 2px solid yellowgreen ;
    border-radius: 30px;
    color: rgba(0,0,0,0.5);
    font-size: 15px;

}
.friends-list__music i {
    margin-right: 5px;
}