

 main {

    max-height: 80vh;
    overflow-y: scroll;
 }

#friends-display-link {
    text-align: center;
    display: block;
    background-color:#fafafa;
    padding: 15px 0px;
    font-size: 15px;
    margin-top: 0px;
    border-radius: 20px;
}



#friends-display-link i{
    color: rgba(0,0,0,0.2);
}

.friends-screen__channel {
    margin-top: 25px;
    border-top: var(--main-border);
    padding-top: 15px;
}


.friends-list__txt {
    display: block;
    font-size: 18px;
    margin: 20px 10px;

}

.friends-list{
    width: 80%;

    padding-bottom: 30px;
    margin-bottom: 20px;
}

.friends-list__music span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 30px;
    border: 2px solid yellowgreen ;
    border-radius: 30px;
    color: rgba(0,0,0,0.5);
    font-size: 15px;

}
.friends-list__music i {
    margin-right: 5px;
}

@keyframes hideSplashScreen {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

#splash-screen {
    background-color:  #ffce33ff;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    animation: hideSplashScreen 0.4s ease-in-out forwards;
    animation-delay: 2s;
}