


.icon-row--fir {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    color: rgba(0,0,0,0.6)
}

.icon-row--sec {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    padding-bottom: 50px;
    border-bottom: var(--main-border);
    color: rgba(0,0,0,0.6)
}

.icon-row--sec div{
    display: flex;
    justify-content: flex-start;
    width: 25%;
}

.icon-row--third {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    padding-bottom: 50px;
    width: 100%;
    color: rgba(0,0,0,0.6)
    
}

.icon-row--third div {
    display: flex;
    justify-content: flex-start;
    width: 25%;
}

.suggestions_txt {
    display: block;
    font-size: 18px;
    margin: 20px 0px;
}


span > a > i [class="fa-gear"]{
    color: white;

}