

.user-component {
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.chatlink {
    text-decoration: none;
}

.user-component__column{
    display: flex;
    align-items: center;
    margin: 15px 0px 15px 0px;
    position: relative;
    border-radius: 30px;

}


.user-component__column:hover {
    background-color: rgba(0,0,0,0.02);

}

.user-component__chat-info {
    display:flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    right: 10px;
}


.user-component__text {
    width: 50%;
}


.user-component__subtitle {
    width: 150%
}



.user-component-inside {
    display:flex;
    justify-content: space-between;

}

.friends-screen__channel{
    margin: 20px 0px 0px 15px;
    color: rgba(0,0,0,0.4);
    padding-bottom: 20px;
    border-bottom: var(--main-border);
}

.user-component__avatar--xl{
    width: 90px;
    height: 90px;
    border-radius: 40%;

}
.user-component__avatar{
    width: 70px;
    height: 70px;
    border-radius: 40%;

}

@keyframes userShow {
    0% {
        transform: scale(1);
       opacity: 0
    }
    50% {
        transform: scale(1.5);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.user-component__avatar--sm{
    width: 40px;
    height: 40px;
    border-radius: 40%;
    animation: userShow 1s linear;

}

.user-component__title{
    font-size: 22px;
    font-weight: 600;
    margin-left: 10px;
    color: black;
    
}

.user-component__channel__title{
    font-size: 17px;
    margin-left: 10px;
}

.user-component__subtitle{
    margin: 10px 10px;
    font-size : 15px;
    color: rgba(0,0,0,0.4);
}

.user-component__time {
    margin-bottom: 10px;
    display: block;
    
}

